@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rambla';
	color: white;
}

.background {
	position: fixed;
	z-index: -1;
	pointer-events: none;
	filter: brightness(65%);
}

body {
	position: relative;
	min-height: 100vh;
}


h1 {
	font-size: 8rem;
	text-align: center;
	font-family: 'Reenie beanie';
	color: black;
}

.search {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 5em;
}

.inside-search {
	display: flex;
	width: 15em;
	border-bottom: 2px solid white;
}

.inside-search input{
	width: 9em;
	background: none;
	border: none;
	font-size: 1.5rem;
	background-color: transparent;
	outline: none;
}

.searchBtn {
	border: 0;
	background: none;
	cursor: pointer;
}

.searchBtn i{
	font-size: 1.2rem;
}

main {
	display: flex;
	margin-top: 10em;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: 55vh;
}

.info {
	text-align: center;
	margin-right: 10em;
}

.weather {
	font-size: 4rem;
}

.weather::first-letter, .city::first-letter {
	text-transform: capitalize;
}

.city {
	font-size: 2.25rem;
}

.date-info{
	margin-top: 2em;
}

.date, .hour {
	font-size: 1.5rem;
}

.temperature {
	font-size: 8rem;
}

.temp i {
	font-size: 4rem;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 2.5rem;
	font-size: 1.2rem;
	margin-bottom: 2em;
}

.additional {
	display: flex;
	justify-content: space-around;
}

.weather-img {
	margin-top: -2em;
	height: 10em;
	width: 10em;
}

@media only screen and (min-width: 1437px){
	.background {
		width: 100vw;
		top: -133px;
	}
}
